CANNED_REPORTS=
SCF_REFILE=
API_KEY_INTERACTIVE=

GOOGLE_SHEET=

DB_SERVERNAME=scf-processing-mariadb
DB_USERNAME=user
DB_PASSWORD=password
DB_DBNAME=database

GC_SERVERNAME=
GC_USERNAME=
GC_PASSWORD=
GC_DBNAME=

TEST_SERVERNAME=
TEST_USERNAME=
TEST_PASSWORD=
TEST_DBNAME=

NEW_DB_SERVERNAME=new-scf-processing-mariadb
NEW_DB_USERNAME=user
NEW_DB_PASSWORD=root
NEW_DB_DBNAME=database

NEW_GC_SERVERNAME=
NEW_GC_USERNAME=
NEW_GC_PASSWORD=
NEW_GC_DBNAME=

OLD_GC_SERVERNAME=
OLD_GC_USERNAME=
OLD_GC_PASSWORD=
OLD_GC_DBNAME=

SSH_KEY_FILE="~/.ssh/id_rsa"
GITCONFIG="~/.gitconfig"